header {
    background-color: white
    padding: 10px;
    text-align: left;
    margin: 50px 50px 50px 50px;
  }

img.profile {
    float: right;
    border-radius: 250%;
    width: 200px;
  }

img.logo{
  margin: 1px auto;
  width:42px;height:42px;border:0
}

.Roboto25 {
    font-family: Roboto;
    font-size: 20px;
    line-height: 1;

}

.Manjari24 {
  font-family: Manjari;
  font-size: 15px;
  line-height: 1;
}

.oranyeFont {
  color: #FE9901;
}

.kanan {
  float: right;
}


div.background2 {
  background-image: url("https://files.catbox.moe/8qzuu1.jpg");
  /*background-color: #FF7E06*/
  position: relative;
  width: 1348px;
  height: 800px;
}

div.background3 {
  background-color: white;
  position: relative;
  width: 1348px;
  height: 600px;
}

div.background2-2{
  background-color: white;
  position: absolute;
  width: 1100px;
  height: 600px;
  left: 118px;
  top: 100px;
  padding: 30px 30px 30px 50px;
}

div.background3-2{
  background-image: url("https://files.catbox.moe/e1gjca.jpg");
  /*background-color: #FF7E06*/
  position: absolute;
  width: 900px;
  height: 390px;
  left: 447px;
  top: 120px;
  padding: 125px 0px 150px 200px;
}

.myworks{
  position: absolute;
  width: 254px;
  height: 97px;
  left: 107px;
  top: 300px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 45px;
  line-height: 61px;
  color: #000000;
}

.myworksfont{
  font-family: Manjari;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  text-align: right;
  color: #FF7E06;
  background-color: white;
  padding: 25px 25px 25px 25px;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 15px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width:600px) {
  .column {
    width: 100%;
  }

a:link {
  text-decoration: none;
}
  
a:visited {
  text-decoration: none;
}
  
a:hover {
  text-decoration: underline;
}
  
a:active {
  text-decoration: underline;
}

footer {
  background-color:white;
  color: black;
  font-size: 10px;
}

