{% extends 'base.html' %}
{% load static %}
{% block content %}
    <br>
    <br>
    <br>
    <br>
    <h2 style="font-family: Roboto; background-color:orange; text-align: center; color: white;"><b>My Art Gallery</b></h2>
    <hr color="orange">
    <div class="container" style="background-color: orange; padding: 15px 15px 15px 15px;">    
        <p>Click on the images to enlarge them.</p>
        <div class="row">
          <div class="col-md-4">
            <div class="thumbnail">
              <a href="https://files.catbox.moe/ndkuez.jpg" target="_blank">
                <img src='https://files.catbox.moe/ndkuez.jpg' alt="Shiro No Game No Life" style="width:100%">
                <div class="caption">
                  <p style="color:white;">Shiro from No Game No Life</p>
                </div>
              </a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="thumbnail">
              <a href="https://files.catbox.moe/irtcj0.jpg" target="_blank">
                <img src='https://files.catbox.moe/irtcj0.jpg' alt="Usui Takumi" style="width:100%">
                <div class="caption">
                  <p style="color:white;">Usui Takumi from Kaichou wa Maid-sama!</p>
                </div>
              </a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="thumbnail">
              <a href="https://files.catbox.moe/c39i6j.jpg" target="_blank">
                <img src='https://files.catbox.moe/ajekxb.jpg' alt="Nature" style="width:100%">
                <div class="caption">
                  <p style="color:white;">Nature from my imagination</p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <hr color="orange">
{% endblock %}