{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link 
        rel="shortcut icon"  
        type="image/png"
        href="{% static 'favicon.ico' %}"
    />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Kamila Kaffah</title>
    <link
      href="https://necolas.github.io/normalize.css/latest/normalize.css"
      rel="stylesheet"
    />
    <link type="text/css" href="{% static 'css/styles.css' %}" rel="stylesheet" >
    <link type="text/css" href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
    <nav id= "#nav_bar" class="navbar navbar-expand-lg navbar-light navbar-static-top">
        <a class="navbar-brand" href="{% url 'KamilaStory' %}"><span style="color:brown;">Kamila</span><span style="color:#FE5F05;"> Kaffah</span></a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="ml-auto navbar-nav">
                <li class="nav-item"><a class="nav-link" href="{% url 'form' %}"><b>Add Remainder</b></a></li>
                
                <li class="nav-item"><a class="nav-link" href="{% url 'show' %}"><b>Activity</b></a></li>

                <li class="nav-item"><a class="nav-link" href="{% url 'Art' %}"><b>Art</b></a></li>
                
                
            </ul>
        </div>
    </nav>        
    {% block content %}
    {% endblock %}
</body>
</html>