{% extends 'base.html' %}
{% load static %}
{% block content %}
    <header>
        <br>
        <p class="Roboto25"><img class="profile" src="https://files.catbox.moe/kiuc8s.jpg" alt="My Picture">
        <b span style="font-size: 40px;">Hi, I'm <span style= "color: #FE5F05">Kamila</span></b>
        <br><br>
        <span class="Manjari24">Lifetime learner and progressor</span>
        <hr color=#FB9905; style ="width: 210px; float: left; text-decoration: bold;">
        <br>
        <br>
        An Information System Student of Universitas Indonesia
        <br>
        who willing to learn a new thing
        <br>
        <br>
        <br>
        <b><span class="oranyeFont">Keep scrolling to know more about me.</span></b></p>
    </header>
    <hr color=#FD7D07>
    <div class="background2" id="about">
        <div class="background2-2">
                <div class="row">
                        <div class="column">
                          <h2 style="font:Roboto; font-size:40px;"><b>About Me</b></h2>
                          <h3 style="font:Roboto; font-size: 24px; color:#FE9901;"><b>A little more about me..</b></h3>
                          <p style="font:Manjari; font-size: 20px; text-align: justify;">In my spare time, I’d love reading books, drawing, and playing futsal. There’re my favorite books : Sapiens, MADILOG, Filosofi Teras,  Why Nations Fail, and Catatan Seorang Demonstran : Soe Hok Gie. Besides that, I have beliefs that there’s nothing impossible if you are willing to work hard.</p>
                          <br>
                          <br>
                          <h3 style="font:Roboto; font-size: 24px; color:#FE9901;"><b>Educational Background</b></h3>
                          <br>
                          <p style="font:Manjari; font-size: 20px; text-align: justify;">Universitas Indonesia<br>SMAN 1 Kota Tangerang Selatan<br>SMPN 12 Kota Tangerang Selatan<br>SDN Pondok Aren 03</p>
                        </div>
                        <div class="column">
                          <br>
                          <br>
                          <h3 style="font:Roboto; font-size: 24px; color:#FE9901; margin-left:150px;"><b>My experiences</b></h3>
                          <p style="font:Manjari; font-size: 20px; text-align: left; margin-left:150px;"><b>PIC of Academic<br>at BETIS Fasilkom UI 2020<br><br>PIC of Marketing HRD<br>at COMPFEST 2020<br><br>Staff of HRD Digital Marketing<br>at COMPFEST11</b></p>
                        </div>
                </div>
        </div>
    </div>
<hr color=#FD7D07 id="works">
<div class="background3">
    <div><b><h1 class="myworks">My Works.</b></h1></div>
    <div class="background3-2"><p class="myworksfont">I’d like to post my writings on medium.<br><a href="https://medium.com/@kaffahkamila" target="_blank">Click here</a> if you have interest.</p></div>
</div>
<hr color=#FCF31D>

<footer id="contact">
    <p style="text-align: center;">Kamila Kaffah</p>
    <hr color=#FD7D07; style="width: 50px;">
    <p style="text-align: center;">kaffahkamila@gmail.com</p>
    <p style="text-align: center;">
        <a href="https://www.linkedin.com/in/kamila-kaffah-b08842143/"><img src="https://files.catbox.moe/m8vfrc.png" alt="linkind" class="logo"></a>
        <a href="https://www.instagram.com/kamilakffh/"><img src="https://files.catbox.moe/d92nti.jpg" alt="insagram" class="logo"></a>
        <a href="https://twitter.com/kamilakaffahh"><img src="https://files.catbox.moe/xy208d.jpg" alt="twitter" class="logo"></a>
    </p>
</footer>

{% endblock %}